html,
body {
  padding: 5vh 10vw;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  height: 100%;
  min-height: 80vh;
}
.create-task-container{
  display: flex;
  justify-content: space-between;
}
.create-task-input{
  width: 85%;
  background-color: transparent;
  border:none;
  border-bottom:2px solid rgba(0, 0, 0, 1);
  padding:.8rem;
  font-size: 1.2rem;
  box-sizing: border-box;

}
.create-task-input:focus{
  outline:none;
}
.create-task-button{
  width: 10%;
}
.create-task-button:hover{
  cursor: pointer;
}
.create-task-button:focus{
  outline:none;
}
.task-container{
  margin:2vh 0;
  padding:.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.task-container-content{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin:0;
}
.task-container-button{
  display: flex;
  justify-content: flex-end;
}
.task-container-button > .task-done {
  margin-right:1vw;
}
.done-task{
  background-color:rgba(0,200,70,0.4);
}
.done-task:hover{
  background-color:rgba(0,200,70,0.8);
}
.pending-task {
  background-color: rgba(216, 176, 176, 0.4);
  
}
.pending-task:hover{
  background-color: rgba(197, 135, 135, 0.8);
}